.react-apple-tree {
  --ns-rat-node-hover-color: #dde4f6;
  --ns-rat-can-drop-color: #a0bbff;
  --ns-rat-cannot-drop-color: #f09393;
  --ns-rat-special-line-color: blue;
  --ns-rat-tree-lines-color: #c0c0c0;

  width: 100%;
  height: 100%;
}
